* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.logo {
    display:block;
    width: 300px;
    margin: 12px auto 16px;
}

body {
    background-color: #8A51FC;
}

main {
    width: 375px;
    padding: 44px 24px 24px;
    margin:0 auto;
    background-color: #F4F4F4;
    border: none;
    border-radius: 20px;
}

label {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}

select,input {
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    margin: 8px 0 24px;
    padding: 15px 18px;
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    cursor: pointer;
}

button {
    width: 100%;
    height: 48px;
    background-color: #8A51FC;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 24px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    width: 327px;
    padding: 12px;
    text-align: center;
}

.arrow {
    margin: 15px 0;
}

.currency {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}

.currency-value {
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}